/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  
}

/* Start Navbar */
.navbar{
    background-color: #064469;
}

.navbar .navbar-nav .nav-item a{
    color: #ffffff;
    margin-right: 10px;
}

.navbar-logo{
    width: 91px;
    height: 64px;
}

.navbar-toggler{
    background-color: #ffffff;
}

.navbar-toggler:focus{
    border-color: #ffffff; 
    box-shadow: 0 0 5px 0 #ffffff;
}

.navbar .navbar-nav .nav-item a:hover{
    color: #e6e6e6;
    font-weight: 700;
}

.navbar .navbar-nav .nav-item a:focus{
    color: #ffffff;
    font-weight: bold;
}

.form-control{
    border-radius: 5px;
}

.form-control:focus {
    border-color: #ffffff; 
    box-shadow: 0 0 5px 0 #ffffff;
}
/* End Navbar */

/* Start Content */
.judul-kategori{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
}

.judul p{
    text-align: center;
    margin-top: -25px;
    font-size: 22px;
}

.text-kategori h1{
    padding-left: 45px;
    font-size: 28px;
    margin-top: 70px;
    padding-left: 4rem;
}

.cards-wrapper{
    padding: 0 2rem;
}

.card{
    border: none;
    border-radius: 30px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    margin-right: 0.5em;
}

.card-title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-title a{
    color: #000000;
    text-decoration: none;
}

.carousel-inner{
    padding: 1em;
}

.carousel-control-prev, .carousel-control-next{
    background-color: #b1b1b1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev span, .carousel-control-next span{
    width: 1.5rem;
    height: 1.5rem;
}

.link{
    text-align: end;
    margin: 1rem 4rem 2rem 0;
}

.link a{
    text-decoration: none;
    color: #056AA3;
    font-size: 18px;
    font-weight: 500;
}

.link a:hover{
    font-weight: bold;
    color: #064469;
}

@media screen and (min-width: 577px){
    .cards-wrapper{
        display: flex;
    }
    
    .card{
        margin: 0 0.5em;
        width: calc(100%/3);
    }
}

@media screen and (max-width: 576px) {
    .card:not(:first-child){
        display: none;
    }

    .text-kategori h1{
        font-size: 28px;
        margin-top: 70px;
        padding: 0 4rem;
        text-align: center;
    }

    .link{
        text-align: center;
        margin: 1rem 4.5rem;
    }
    
}

/* End Content */

/* Start Footer */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.footer-container{
    background-color: #064469;
    max-width: 100%;
}

.container div footer ul li a{
    color: #ffffff;
}

.list-center {
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-logo{
    width: 91px;
    height: 91px;
}

footer ul li a:hover{
    color: #e6e6e6;
    font-weight: 700;
}
/* End Footer */